@model RecipeManager.Models.ViewModels.RecipeVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)</p>
    <dl class="row">
        <div class=col-sm-6>
            <dt class="col-sm-2">
                Ingredients
            </dt>
            <dd>
                <ul>
                    @foreach (var item in Model.RecipeIngredients)
                    {
                        <li>
                            @item.IngredientName
                            @if (item.Amount != "")
                            {
                                <text> - @item.Amount</text>
                            }
                            @if (item.Calories != null)
                            {
                                <text> - @item.Calories calories</text>
                            }
                        </li>
                    }
                    @if (Model.RecipeIngredients.Count == 0)
                    {
                        <text>none</text>
                    }
                </ul>
            </dd>
        </div>
        <div class=col-sm-6>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PrepTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PrepTime) min.
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.CookTime)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.CookTime) min.
            </dd>
            <dt class="col-sm-4">
                Total Calories
            </dt>
            <dd class="col-sm-8">
                @{
                    var totalCalories = 0;
                    foreach (var item in Model.RecipeIngredients)
                    {
                        totalCalories += item.Calories ?? 0;
                    }
                    @totalCalories
                }
            </dd>
        </div>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-Id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-Id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
