@model RecipeManager.Models.ViewModels.RecipeVM

@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <p>@Html.DisplayFor(model => model.Description)"</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrepTime) min.
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CookTime) min.
        </dd>
        <dt class="col-sm-2">
            Total Calories
        </dt>
        <dd class="col-sm-10">
            @{
                var totalCalories = 0;
                foreach (var item in Model.RecipeIngredients)
                {
                    totalCalories += item.Calories ?? 0;
                }
                @totalCalories
            }
        </dd>
        <dt class="col-sm-2">
            Ingredients
        </dt>
        <dd>
            <ul>
                @foreach (var item in Model.RecipeIngredients)
                {
                    <li><b>@item.IngredientName</b> - @item.Amount - @item.Calories calories</li>
                }
                @if (Model.RecipeIngredients.Count == 0)
                {
                    <span>none</span>
                }
            </ul>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-Id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-Id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
