@model IEnumerable<RecipeManager.Models.ViewModels.IngredientVM>

<p>
    <button type="button" class="btn btn-primary createIngredientModalBtn">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="ingredientName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="ingredientType">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <button type="button" class="btn btn-primary addIngredientBtn" value="@item.Id">Add</button>
                </td>
            </tr>
        }
    </tbody>
</table>
